.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 380px;
    width: 184px;
    padding: 16px 0px;
}
body {
    background: #292a2d;
    font-family: sans-serif;
    color: #ffffffaa
}
body > div {
    display: flex;
    flex-direction: row;
}

label {
    padding-bottom: 8px;
}